[submodule "dockers"]
	path = dockers
	url = https://github.com/fuzztheplanet/dockers
[submodule "wordlists"]
	path = wordlists
	url = https://github.com/fuzztheplanet/wordlists
[submodule "misc/mygf"]
	path = misc/mygf
	url = https://github.com/fuzztheplanet/mygf
