# Ignore everything
*
.*

# Except...
!.gitignore
!.gitmodules
!LICENSE
!README.org

!aliases.sh
!fetch-external-tools.sh

!android/

!claudettes

!dockers

!wordlists

!misc/
!misc/mygf

!net/
!net/lazymap
!net/lazymap/lazymap.sh
!net/lazymap/README.org
